# Ignore everything in this directory
*

# Except these files
!.bash_aliases
!.bash_functions
!.bash_logout
!.bash_profile
!.bashrc
!.gitignore
!.inputrc
!.minttyrc
!.vimrc
!LICENSE
!README.md
!gradle.properties
!local/bin/depends.dll
!local/bin/depends.exe
!local/bin/handle.exe
!local/bin/nugrant2env
!local/bin/procexp.exe
