# Ignore everything in this directory
*

# Except these files
!.bash_aliases
!.bash_env
!.bash_functions
!.bash_logout
!.bash_path
!.bash_profile
!.bashrc
!.gemrc
!.gitattributes
!.gitconfig
!.gitignore
!.gitignoreglobal
!.gitk
!.inputrc
!.minttyrc
!.npmrc
!.vimrc
!.vagrantuser
!gradle.properties
!LICENSE
!README.md
!.bash.d/
!.bash.d/git-completion.sh
!.bash.d/git-prompt.sh
!local/
!local/bin/
!/local/bin/chrome_dev
!/local/bin/diff2html
!/local/bin/gclient
!/local/bin/git-merged
!/local/bin/git-svn-diff
!/local/bin/node
!/local/bin/procexp.exe
!/local/bin/python
!/local/bin/renamer
!/local/bin/search-logs
!/local/bin/sort-logs
!/local/bin/timestamp
