[merge]
	tool = tortoisemerge
	renormalize = true
[mergetool]
	keepBackup = false
[mergetool "tortoise"]
    cmd = "TortoiseMerge.exe" -base:"$BASE" -theirs:"$REMOTE" -mine:"$LOCAL" -merged:"$MERGED"
[user]
	name = Matthieu Vachon
	email = matthieu.o.vachon@gmail.com
[rerere]
	enabled = true
[gui]
	encoding = utf-8
[core]
	excludesfile = c:/Users/Matt/.gitignoreglobal
	autocrlf = true
	eol = native
	safecrlf = warn
	editor = vim
	longpaths = true
[push]
	default = simple
[help]
	autocorrect = 1
[color]
	ui = always
    branch = always
    diff = always
    interactive = always
    status = always
[gui]
	encoding = utf-8