[merge]
	tool = tortoisemerge
[mergetool "tortoise"]
	cmd = "TortoiseMerge.exe" -base:"$BASE" -theirs:"$REMOTE" -mine:"$LOCAL" -merged:"$MERGED"
[mergetool]
	keepBackup = false
[user]
	name = Matthieu Vachon
	email = matthieu.o.vachon@gmail.com
[rerere]
	enabled = true
[gui]
	encoding = utf-8
[core]
	excludesfile = c:/Users/Matt/.gitignoreglobal
	autocrlf = true
	eol = native
	safecrlf = warn
	editor = vim
[config]
	safecrlf = warn
