# Ignore everything in this directory
*

# Except these files
!.bash_aliases
!.bash_functions
!.bash_logout
!.bash_profile
!.bashrc
!.gitattributes
!.gitignore
!.inputrc
!.vimrc
!LICENSE
!README.md
!.bash.d/
!.bash.d/git-completion.sh
!.bash.d/git-prompt.sh
!local/
!local/bin/
!/local/bin/chrome_dev
!/local/bin/diff2html
!/local/bin/gclient
!/local/bin/git-svn-diff
!/local/bin/jetty
!/local/bin/kitchen_sync
!/local/bin/procexp.exe
!/local/bin/python
!/local/bin/renamer
!/local/bin/timestamp
