# To the extent possible under law, the author(s) have dedicated all 
# copyright and related and neighboring rights to this software to the 
# public domain worldwide. This software is distributed without any warranty. 
# You should have received a copy of the CC0 Public Domain Dedication along 
# with this software. 
# If not, see <http://creativecommons.org/publicdomain/zero/1.0/>. 

# base-files version 4.1-1

# ~/.inputrc: readline initialization file.

# The latest version as installed by the Cygwin Setup program can
# always be found at /etc/defaults/etc/skel/.inputrc

# Modifying /etc/skel/.inputrc directly will prevent
# setup from updating it.

##
# Readline Options
#  Check current options with bind -V
#

# Allow 8-bit input/output
set meta-flag on
set convert-meta off
set input-meta on
set output-meta on

# Don't beep, make it visible
set bell-style visible

# Show all instead of beeping first
set show-all-if-ambiguous on

# Completion Ignore Case
set completion-ignore-case on

# Completion Treat - and _ as same
set completion-map-case on

# Append "/" to all dirnames
set mark-directories on
set mark-symlinked-directories on

# Use a pager to show completions
set page-completions on

# Print completions horizontaly
set print-completions-horizontally on

# Append a mark according to the file type in a listing
set visible-stats on

# Colored completion stats
set colored-stats on

##
# Key Bindings
#  Check current bindings with bind -P
#
#  To find a keyseq, use Ctrl-v <keyseq> and replace
#  ^[ by \e and surround within double quotes.
#
#  Example:
#    Type Ctrl-v Ctrl-Shift-Left Arrow
#    Results in ^[[1;6D being printed
#    Keyseq to use is "\e[1;6D"
#

"\e[5~": beginning-of-history  		# Page up
"\e[6~": end-of-history        		# Page down

"\e[1;3C": forward-word				# Alt-Right
"\e[1;3D": backward-word			# Alt-Left

"\e[1;2C": shell-forward-word		# Shift-Right
"\e[1;2D": shell-backward-word		# Shift-Left

"\e[15~": redraw-current-line       # F5
